{% extends "materials/header.html" %}

{% block content %}
<p>Welcome to the home page</p>
    <!-- {% for data in quotes %}
        <h5>{{ quote.CompanyName }}<a href="materials/{{get.id}}"></a> {{ quote.Symbol}} </a></h5>
    {% endfor %} -->
    <ul>
        {% for content in contents %}
            <li>{{ contents.next }}</li>
        {% endfor %}
    </ul>
    <form>
        {{data.count}}
        <br>
        {{data.next}}
        <br>


{% include "materials/includes/htmlsnippet.html" %}
{% endblock %}